* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  outline: none;
}
body {
  height: 100vh;
  background-color: #b4c5ab;
}
button {
  border: none;
}
.-dj-violet {
  background-color: darkviolet;
}
.-dj-red {
  background-color: red;
}
.-dj-green {
  background-color: limegreen;
}
.-dj-gray {
  background-color: gray;
}
.-hover:hover {
  cursor: pointer;
}
.hide {
  display: none;
  visibility: hidden;
}

nav {
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  height: 65px;
}
.quiz-name {
  margin: auto 20px;
}

.bodyy {
  /* display: flex; */
  /* justify-content: space-evenly; */
}
.quiz-body {
  display: flex;
  margin: auto;
  /* width: 100vw; */
  /* height: 100vh; */
  margin-top: 20px;
  max-width: 950px;
}
.question-area {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  /* margin-right: 2vw; */
  /* border: 2px solid black; */

  width: 65vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}
.quiz-main-head {
  height: 50px;
}
.question {
  height: 50vh;
  /* border: 1px solid red; */
  /* border-radius: 20px; */
  /* box-shadow: 0 0 15px 3px; */
}
.ques-num {
  margin: 20px 10px;
}
.ques-ques {
  margin: 40px 20px;
}
.nav-pallete {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-pallete button {
  /* height: 22px; */
  padding: 4px 12px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.356);
  font-size: 1.3rem;
  transform: scale(1);
}
.nav-pallete button:hover {
  transform: scale(1.01);
  border: 2px solid rgba(0, 0, 0);
}
.prev-btn,
.next-btn {
  background-color: rgb(130, 160, 251);
}

.clear-btn {
  background-color: rgba(255, 83, 83, 0.914);
}
.flag-btn {
  /* margin-right: 1vw; */
  background-color: rgba(255, 182, 45, 0.976);
}
.info-area {
  width: 250px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 2px solid rgba(0, 0, 0, 0.275);
  /* border: 2px solid black; */
  background-color: aliceblue;
  /* border: 1px solid red; */
  /* border-radius: 20px; */
  /* box-shadow: 0 0 12px 2px; */
}
.icon-info {
  padding-left: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.iccol {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.infoicn {
  width: 35px;
  height: 35px;
  /* background-color: green; */
  border-radius: 50%;
  text-align: center;
  /* margin: auto; */
  display: inline-block;
  padding: 8px 1px;
  color: white;
}
.infotxt {
  margin-left: 10px;
}
.ques-status-head {
  font-size: 1.1rem;
  margin: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 12px;
  /* width: 100%; */
}

.grid-item {
  width: 48px;
  height: 48px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 14.5px;
  margin: auto;
}
.infotxt {
  display: inline-block;
  margin-top: 10px;
}
.timer {
  text-align: center;
  font-size: 2rem;
}
.timer-txt {
  padding-top: 32px;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
}

.submit {
  /* height: 35px; */
  margin: auto;
  padding: 6px 12px;
  display: block;
  font-size: 1.1rem;
  background-color: greenyellow;
  border: 2px solid rgba(0, 0, 0, 0.423);
  border-radius: 7px;
  margin: 20px 146px;
}
.submit:hover {
  border: 2px solid rgba(0, 0, 0, 0.923);
  background-color: rgb(148, 238, 13);
  cursor: pointer;
}
